{% extends 'Base.html' %}
<p>
    <br>
  </p>
  <p>
    <br>
  </p>
  {% block content %}
  <div class="container">
 
      <div class="card" style=" width: auto;">
        <div class="shadow p-3 bg-white rounded">

            <div class="card-header text-center bg-transparent border-0">
                <h3>
                    <div>
                        Statement of Confidentiality
                    </div>                </h3>

            </div>



            <div class="card-body">

<div>
    <br/>
</div>
<div>
    All services are strictly confidential between you and program staff, with
    the following exceptions:
</div>
<div>
    <br/>
</div>
<div>
    If you represent an immediate threat to yourself or someone else
</div>
<div>
    If you are believed to be a threat to the emotional or physical welfare of
    a minor as in the suspicion of child abuse (i.e. emotional, physical, or
    sexual)
</div>
<div>
    If you have signed the release or consent form authorizing the release of
    information or permission to obtain information from a specified source for
    a clearly stated purpose.
</div>
<div>
    When the agency is required due to court order or other legal proceedings,
    to release information.
</div>
<div>
    In addition, the State of New Jersey, Department of Human Services,
    Division of Mental Health, and/ persons of appropriate licensing or
    acceding bodies (Accreditation Bodies) will periodically review records and
    documents related to the professional services rendered by the agency. This
    review is solely for the purpose of assessing the agency's compliance with
    regulations and standards set down the governing bodies of treatment
    programs in New Jersey.
</div>
<div>
</div>
<div>
    <br/>
</div>
<div>
    I have read the above information and understand the meaning.
</div>
<div>
    <br/>
</div>
<div>
    I have been provided a copy of this informed consent, and therefore my
    signature is attached to affirm my consent to treatment.
</div>
<div>
    <br/>
</div>
<div>
    <br/>
</div>
<div>
    <br/>
</div>
<div>
    Client Signature: ___________________________________________________ Date:
    _________________________
</div>
<div>
</div>
<div>
    <br/>
</div>
<div>
    Witness Signature: ___________________________________________________
    Date: ________________________
</div>
<div>
    <br/>
</div>
<button type="submit" class="btn btn-default"><a href="{% url 'consent' %}"> Continue</a></button>

            </div></div></div></div>
            {% endblock %}